.header {
  height: 100px;
  width: 100%;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.anchor {
  display: inline-block;
  padding: 8px 24px;
  font-size: 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .anchor:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .anchor:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .anchor:hover span {
    transform: none;
  }
}